*.sw[aop]

main.tf
remote_backend.tf
.terraform
*.tfstate
*.tfstate*

tfplan
.DS_Store
.idea
.vscode
*.pyc
*__pycache__*

.terraform/
.terraform.d/

*.tfplan
deployment.sh

terraform.sh

*.zip
main.tf
remote_backend.tf
terraform.tfstate.backup
terraform.tfvarsf
terraform.tfstate.*.backup